<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let item of items">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title"><a href="#" class="card-link" routerLinkActive="active" routerLink="newtask/{{item.cd_task}}">{{item.cd_task}}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.title_task}}</h6>
                <p class="card-text">{{item.desc_task}}</p>
                <span class="badge badge-primary">
                    {{item.status_task}}
                </span>

                <span class="badge badge-info" *ngIf="item.cd_user">
                        {{item.cd_user}}
                    </span>
                <a href="#" class="card-link" routerLinkActive="active" routerLink="search">Another link</a>
            </div>


        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div> -->