<div class="row">
    <form>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label for="inputEmail4">Code</label>
                <input [(ngModel)]="task.cd_task" class="form-control" id="inputEmail4" placeholder="" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label for="inputPassword4">Title</label>
                <input [(ngModel)]="task.title_task" type="text" class="form-control" id="inputPassword4" placeholder="" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Description</label>
            <textarea type="text" [(ngModel)]="task.desc_task" class="form-control" id="inputAddress" placeholder="" [ngModelOptions]="{standalone: true}"></textarea>
        </div>

        <div class="form-row">

            <div class="form-group col-lg-4 col-md-4">
                <label for="inputState">Status</label>
                <select id="inputState" class="form-control" [(ngModel)]="task.status_task" [ngModelOptions]="{standalone: true}">
          <option selected>Choose...</option>
          <option *ngFor="let status of lstStatuses ">{{status}}</option>
        </select>
            </div>

            <div class="form-group col-lg-4 col-md-4">
                <label for="inputState">Assign to</label>
                <select id="inputState" class="form-control" [(ngModel)]="task.cd_user" [ngModelOptions]="{standalone: true}">
          <option selected>Choose...</option>
          <option *ngFor="let user of lstUsers " value="{{user.cd_user}}">{{user.nm_user}}</option>
        </select>
            </div>

        </div>
        <div class="form-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button (click)="save()" class="btn btn-primary">Save</button></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button (click)="goBack()" class="btn btn-primary">Cancel</button></div>
        </div>
    </form>

</div>